.information-dark {
    background-color: rgb(23.9, 24.3, 40.8);
    padding-top: 40px;
    padding-bottom: 40px;
}

.information-light {
    padding-top: 40px;
    padding-bottom: 40px;
}

.information-text-light {
    color: aliceblue;
    font-size: 1.2em;
}

.information-text-dark {
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.h3-borders {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.custom-inner-top-margin {
    margin-top: 40px;
    margin-bottom: 30px: 
}

.display-helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    border: 1px solid #101010;
}