.top-half-container {
    margin-top: 15vh;
    margin-bottom: 8vh;
}

.prev-image-ctrl {
    width: inherit;
}

.topic-text-ctrl {
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.t-text-ctrl {
    font-size: 3.5em;
}

.projects-text-ctrl {
    text-align: center;
    font-size: 3em;
    letter-spacing: 10px;
}

.dark-down-arrow {
    margin-right: auto;
    margin-left: auto;
    width: 40px;
    height: 40px;
    transition: all 0.5s;
    margin-bottom: 3vh;
}

.dark-down-arrow:hover {
    transform: scale(1.2)
}

.project-detail-con {
    margin-bottom: 50px;
    margin-top: 20px;
    border-width: 10px;
    border-color: darkslategrey;
    color: black;
    
    transition: all 0.5s;
}

.project-detail-con:hover {
    transform: scale(1.1);
}


.bottom-margin-con {
    margin-bottom: 80px;
}

.sample-text-ctrl {
    letter-spacing: 8px;
}

@media (min-width: 700px) {
    .project-detail-con {
        width: 700px;
    }
}

@media (max-width: 450px) {
    .t-text-ctrl {
        font-size: 1.5em;
    }
    
    .p-text-ctrl {
        font-size: 1em;
    }
    
    .sample-text-ctrl {
        font-size: 1.2em;
    }
    
    .projects-text-ctrl {
        font-size: 1.5em;
    }
}